body {      
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            text-align: center;
        }

        main {
            text-align: center;
        }

        /* navbar */
        .navbar {
            background-color: rgb(1, 43, 57);
            display: flex;
            justify-content: center;
            height: 100px;
        }

        .navbar h1 {
            color: rgb(252, 252, 252);
            font-size: 40px;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .form-group {
            align-items: center;
            justify-content: center;
            margin: 5px;
            padding: 10px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
        }
        .form-group input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
                
        .form-group input,
        .form-group label {
            display: inline;
            align-items: center;
            width: 250px;
        }
        
        .form-group input[type="checkbox"] {    
            width: 10px;
        }
        .form-group button:hover {
            background-color: #9ea6af;
        }

        form.messages-list {
            display: inline;
        }

        /* Style for message list */
        #message_list {
            font-size: 1.3em;
            list-style-type: none;
            padding: 0;
        }

        /* Style for each message item */
        .message-item {
            display: inline;
            margin-bottom: 10px;
        }
